body{
    font-family: 'Brush Script MT', cursive;
}

h1{
    text-decoration: underline;
}

table{
    margin-bottom: 20px;
    font-size: 20px;
}

th{
    text-align: left;
}

.opacity{
    opacity: 0.25;
    padding: 2px;
}

.border{
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    border-radius: 8px 8px 0 0;
    background-color: darkgrey;
}

.card-size{
    height: 120px;
    width: 80px;
}

.player-name {
    font-size: small;
    text-align: center;
    font-weight: bold;
    width: 72px;
    overflow: hidden;
    padding: 0 6px;
    margin-top: -6px;
    position: relative;
    background-color: darkgrey;
    border-radius: 0 0 8px 8px;
    color: darkgreen;
}

.played-cards-amount{
    font-size: 20px;
    color: darkslategray;
    padding-left: 20px;
    font-weight: bold;
}

.played-cards-amount span{
    color: darkgrey;
}

.player-points{
    border: solid;
    text-align: center;
}

.align-top{
    vertical-align: top;
}
